@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Qahiri&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Patrick+Hand&family=Qahiri&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-------------------------LOGIN----------------------------*/
.background-login {
  height: 100vh;
  width: 100vw;
  background-image: url("https://c.tenor.com/ZjrXRjyFr3cAAAAd/ash-pokemon-ash.gif");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  padding: 20px;
}
/*login*/
.container-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("assets/poketitle_login.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 120px;
  background-position: center;
}

.container-subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("assets/pokesubtitle.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
  background-position: center;
}

.login-form {
  display: flex;
  padding: 20px;
  justify-content: center;
}

.login-form input {
  width: 55vw;
  height: 45px;
  border: 1px solid black;
  box-shadow: 1px 2px 4px rgb(0, 0, 0, 0.3);
  background-color: transparent;
  transition: 300ms;
}
.login-form button {
  width: 100px;
  height: 45px;
  border: 1px solid black;
  box-shadow: 1px 2px 4px rgb(0, 0, 0, 0.3);
  font-family: "Indie Flower", cursive;
  font-size: 20px;
  font-weight: 600;
  background-color: #d53624;
  opacity: 0.8;
  color: yellow;
  transition: 300ms;
  cursor: pointer;
}

.login-form input[placeholder] {
  font-family: "Indie Flower", cursive;
  font-size: 16px;
}

.login-form input:hover {
  background-color: yellow;
}

.login-form button:active {
  background-color: maroon;
}

/*-------------------------POKEDEX----------------------------*/

.pokedex {
  padding: 10px;
  background-image: url("https://i.pinimg.com/originals/90/4a/74/904a747dcf65450b8e9cb89eba6180fe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-message {
  text-align: center;
  margin-bottom: 10px;
  font-family: "Indie Flower", cursive;
  font-weight: 800;
  font-size: 40px;
  padding: 10px;
  color: yellow;
  text-shadow: 1px 2px 4px rgb(0, 0, 0, 0.3);
}

.select {
  text-align: center;
}

.select select {
  height: 30px;
  width: 90px;
  box-shadow: 1px 2px 4px rgb(0, 0, 0, 0.3);
}

.input-container {
  text-align: center;
  font-family: "Indie Flower", cursive;
  font-weight: 600;
  margin-top: 20px;
}

.container-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  margin-left: 20px;
  height: 500px;
  width: 100%;
}

.pokemon-list {
  list-style: none;
}

.input-container {
  width: 90vw;
}

.input-container label {
  font-size: 20px;
  text-shadow: 1px 2px 4px rgb(0, 0, 0, 0.3);
}

.input-container input {
  width: 45vw;
  height: 45px;
  border: 1px solid black;
  box-shadow: 1px 2px 4px rgb(0, 0, 0, 0.3);
  background-color: #ffff;
  opacity: 0.7;
  transition: 300ms;
}

.btn-go {
  width: 100px;
  height: 45px;
  border: 1px solid black;
  box-shadow: 1px 2px 4px rgb(0, 0, 0, 0.3);
  font-family: "Indie Flower", cursive;
  font-size: 20px;
  font-weight: 600;
  background-color: #d53624;
  opacity: 0.8;
  color: yellow;
  transition: 300ms;
  cursor: pointer;
}

.input-container input[placeholder] {
  font-family: "Indie Flower", cursive;
  font-size: 16px;
}

.input-container input:hover {
  background-color: yellow;
}

.input-container button:active {
  background-color: maroon;
}

.buttons {
  display: inline-block;
  justify-content: center;
  align-items: flex-end;
  margin-top: 500px;
}
#btn-actions {
  display: flex;
  justify-content: center;
}

.btn-previous {
  width: 190px;
  height: 80px;
  border-radius: 50%;
  background-color: #0059ff;
  border: 1px solid #0059ff;
  box-shadow: 1px 2px 4px 4px rgb(0, 0, 0, 0.5);
  opacity: 0.8;
  font-family: "Indie Flower", cursive;
  color: yellow;
  font-size: 40px;
  margin-right: 40px;
}
.btn-previous:active {
  transform: scale(0.98);
}
.btn-next {
  width: 190px;
  height: 80px;
  border-radius: 50%;
  background-color: #0059ff;
  border: 1px solid #0059ff;
  box-shadow: 1px 2px 4px 4px rgb(0, 0, 0, 0.5);
  opacity: 0.8;
  font-family: "Indie Flower", cursive;
  color: yellow;
  font-size: 40px;
}
.btn-next:active {
  transform: scale(0.98);
}

.pages {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  width: 95%;
}

.btn-pages {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: yellow;
}

.btn-pages:hover {
  background-color: orange;
}

.btn-pages:active {
  background-color: red;
}
/*-----------------------POKEMON-CARD--------------------------*/

.pokelist {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0 0 40px;
  background-image: url("https://i.gifer.com/EAoe.gif");
  border-radius: 20px;
  box-shadow: 1px 2px 4px 4px black;
  height: 200px;
}


/*-----------------------------CHANGE-COLORS-------------------------------------*/
/* .rock {
  background-color: rgb(148, 81, 81);
}
.ghost {
  background-color: rgb(247, 247, 247);
}
.electric {
  background-color: rgb(255, 255, 161);
}
.bug {
  background-color: #F6D6A7;
}
.poison {
  background-color: #e0a7f6;
}
.normal {
  background-color: #F4F4F4;
}
.fairy {
  background-color: rgba(255, 192, 203, 0.863);
}
.fire {
  background-color: #FBE3DF;
}
.grass {
  background-color:#E2F9E1;
}
.water {
  background-color:#E0F1FD;
} */

.pokemon-card h5 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  text-decoration: none;
  color: black;
  margin-top: -70px;
  width: 200px;
  height: 100px;
}

.pokemon-card img {
  position: absolute;
  width: 100px;
  height: 120px;
  margin-top: -60px;
  margin-left: 50px;
}
.pokemon-card img:hover {
  transform: scale(1.6);
}

/*-----------------------POKEMON-INFO-------------------------*/
.pokemon-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url("https://w0.peakpx.com/wallpaper/962/259/HD-wallpaper-pokemon-pokeball-green-simple-pokemon-green-pokeball.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  text-align: center;
  height: 100vh;
}

.card-title {
  position: fixed;
  margin-top: -680px;
  background-image: url("assets/pokemon_card.png");
  width: 40vh;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  text-align: center;
  margin-left: -20px;
}

.card-element {
  width: 440px;
  height: 700px;
  background-image: url("https://i.gifer.com/EAoe.gif");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  border: 3px solid rgba(0, 0, 0, 0.6);
  box-shadow: 2px 4px 6px 8px rgb(0, 0, 0, 0.3);
  border-radius: 15px;
  margin-top: 130px;
}

.pokemon-info h2 {
  font-family: "Indie Flower", cursive;
  font-size: 50px;
  margin-bottom: 20px;
  text-shadow: 2px 4px rgb(0, 0, 0, 0.3);
}

.pokemon-info img {
  width: 200px;
  padding: 10px;
}

.pokemon-info li {
  font-size: 30px;
  font-family: "Patrick Hand", cursive;
  list-style: none;
  text-align: left;
  margin-left: 50px;
  text-shadow: 2px 4px rgb(0, 0, 0, 0.3);
}

.btn-return {
  margin: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.return-link {
  text-decoration: none;
  font-family: "Indie Flower", cursive;
  font-size: 30px;
  width: 170px;
  height: 70px;
  background-color: #0059ff;
  border: 1px solid #0059ff;
  box-shadow: 1px 2px 4px 4px rgb(0, 0, 0, 0.5);
  opacity: 0.8;
  color: yellow;
  transition: 300ms;
  cursor: pointer;
  border-radius: 50%;
}
.return-link button:hover {
  background-color: #140cc8;
}

.return-link button:active {
  background-color: #140cc8;
}
.copyright {
  font-family: sans-serif;
  font-size: 15px;
  margin-left: 80%;
  margin-top: 70%;
  text-shadow: 10px 5px 10px yellow;
  color: #0059ff;
  text-align: center;
}
/*--------------------RESPONSIVE DESIGN------------------*/
@media only screen and (min-width:320px) and (max-width:480px){
  .copyright {
    margin-left: -5%;
    margin-top: 220%;
  }
  .container-title{
    margin-left: -10px;
  }
  .container-subtitle{
    margin-left: -30px;
  }
  .login-form{
    margin-left: 30px;
  }
  .login-form input{
    border-radius: 10px;
    padding: 5px;
  }
  .login-form button{
    border-radius: 10px;
    margin-left: 50px;  
    margin-top: 10px;
  }
  .select select{
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    text-align: center;
    background: #d53624 ;
    color: yellow;
    opacity: 0.8;
    font-size: 18px;
    margin-left: -10%;
    margin-top: 20px;
  }
 .input-container label{
   visibility: hidden;
   margin-left: -35%;
 }
 .input-container input, button{
   margin-top: 20px;
   border-radius: 10px;
 }
 .container-list{
   margin-left: -7.5%;
 }
.pokelist{
  height: 100px;
  width: 100px;
}
.pokemon-card h5{
  font-size: 15px;
  margin-top: -5px;
}
.pokemon-card img{
  width: 60px;
  height: 50px;
  margin-left: 70px;
}
 .btn-pages{
   visibility: hidden;
   margin: 0;
   padding: 0;
 }
.btn-previous, .btn-next{
  width: 90px;
  height: 40px;
  font-size: 20px;
  margin-top: 220px;
  font-weight: 700;
}
/* .card-title{
  width: 10px;
  height: 10px;
} */
.card-element{
  width: 270px;
  height: 450px;
  margin-top: 20px;
}
.pokemon-info img{
  width: 150px;
}
.pokemon-info li{
  font-size: 25px;
}
  }
